<a href="https://colab.research.google.com/github/alu231172-sq/Temario-de-Aplicaciones-Web/blob/main/EvaluacionDiagnosticaYRSQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SyntaxError: invalid syntax (ipython-input-2318914511.py, line 1)

Imprime el nombre del usuario

In [9]:
name= input("Ingresa tu nombre ")
dad= input("Ingresa tu apellido paterno ")
mom= input("Ingresa tu apellido materno ")

print ("Hola,", name, dad, mom)

Ingresa tu nombredevak
Ingresa tu apellido paternosoto
Ingresa tu apellido maternoquezada
Hola,  devak soto quezada

Captura y suma dos numeros

In [11]:
n1=input("Ingresa un numero entero: ")
n2=input("Ingresa un segundo numero entero: ")
num1=int(n1)
num2=int(n2)

resu=num1+num2
print("El resultado de su suma es:",resu)

Ingresa un numero entero: 5
Ingresa un segundo numero entero: 4
El resultado de su suma es: 9

Area de un circulo

In [26]:

radio= input("Ingresa el radio de un circulo: ")
r=float(radio)
a= 3.14*(r*r)
area=str(a)
print("El area del circulo es: ",area)

Ingresa el radio de un circulo: 5
El area del circulo es:  78.5

Codigo del semestre pasado

In [27]:
﻿CREATE TABLE IF NOT EXISTS `alumnos` db.alumnos.insertOne({
  `nocon` intdb.alumnos.insertOne({11) NOT NULL,
  `nombrealu` varchardb.alumnos.insertOne({22) NOT NULL,
  `apealu` varchardb.alumnos.insertOne({30) NOT NULL,
  `grupo` varchardb.alumnos.insertOne({10) NOT NULL,
  `espealu` varchardb.alumnos.insertOne({17) NOT NULL,
  `fechanacalu` date NOT NULL,
  `,deporte:` varchardb.alumnos.insertOne({45) NOT NULL,
  `edadalu` intdb.alumnos.insertOne({11) NOT NULL,
  `lugaralu` varchardb.alumnos.insertOne({40) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

--
-- Volcado de datos para la tabla `alumnos`
--
ISODatedb.alumnos.insertOne({

INSERT INTO `alumnos` db.alumnos.insertOne({`nocon`, `nombrealu`, `apealu`, `grupo`, `espealu`, `fechanacalu`, `,deporte:`, `edadalu`, `lugaralu`) VALUES
db.alumnos.insertMany([{nocon: 1, nombre: "Abril Daniela", ape: "Benavides Rodriguez",grupo: "4R",especialidad: "contabilidad",fecha : ISODate( "2007-04-27"),deporte: "Vóley",edad: 17,ciudad: "Juarez, chihuahua"},
	{nocon: 2, nombre: " Ulrich leonardo",ape: "Blasquez Meza",grupo: "4Q",especialidad:"contabilidad",fecha : ISODate( "2007-01-10"),deporte: "Football",edad: 17,ciudad: "Juarez, chihuahua"},
	{nocon: 3, nombre:"Alma Dinorah",ape: "Cabrera Peredo",grupo: "4R",especialidad: "contabilidad",fecha : ISODate( "2007-04-06"),deporte: "Volley",edad: 16,ciudad: "Juarez,chihuahua"},
	{nocon: 4, nombre: "Cristian Alejandro",ape: "Castelan Santacruz",grupo: "4Q",especialidad: "Programación",fecha:ISODate("2007-10-25"),deporte: "Ninguno",edad: 17,ciudad: "Cd Juarez, Chihuahua"},
	{nocon: 5, nombre: "Laura Valentina",ape: "Chavez Gonzalez",grupo: "4Q",especialidad: "Programacion",fecha : ISODate( "2007-06-11"),deporte: "Bascket",edad: 16,ciudad: "Cd juarez"},
	{nocon: 6, nombre: "Jose Hector",ape:"Contreras",grupo: "4Q",especialidad: "Programacion",fecha : ISODate( "2007-06-11"),deporte: "box",edad: 16,ciudad: "Juarez"},
	{nocon: 7, nombre: "Dylan Alejandro",ape: "Cortes Castillo",grupo: "4Q",especialidad: "electricidad",fecha : ISODate( "2007-05-12"),deporte: "Ninguno",edad: 16,ciudad: "Cd juarez"},
	{nocon: 8, nombre: "Elvia Stephanie",ape: "Cruz Orona",grupo: "4Q",especialidad: "electricidad",fecha : ISODate( "2007-07-18"),deporte: "Futbol",edad: 16,ciudad: "Cd juarez"},
	{nocon: 9, nombre: "Bryan Alexis",ape: "Dominguez Luna",grupo: "4Q",especialidad: "Programación",fecha : ISODate( "2007-07-10"),deporte: ",deporte: baseball",edad: 16,ciudad: "Cd Juarez Chihuhua"},
	{nocon: 10,nombre: "Joshua zaid",ape: "Elizalde Lopez",grupo: "4A",especialidad: "electricidad",fecha : ISODate( "2007-04-08"),deporte: "Natación",edad: 17,ciudad: "Cd juarez"},

SyntaxError: invalid decimal literal (ipython-input-3568064145.py, line 4)